<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" [style.padding.px]="15">
    <a [routerLink]="['']" class="d-flex align-items-center text-dark text-decoration-none">
      <span class="fs-4">Heladería "Y si hacemos un helado"</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['']">Bienvenida</a>
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/repartidor/alta']">Alta Repartidor</a>
      <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/repartidor/detalle']">Repartidor Detalle</a>
      <a class="py-2 text-dark text-decoration-none" [routerLink]="['/helados']">Salen Helados</a>
    </nav>
</div>