
<div class="container py-4">

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3" [style.overflow]="'hidden'">
            <h2>Github</h2>
            <div *ngIf="githubUser != null">
                <p>Usuario: {{githubUser['login']}}</p>
                <p class="small"><a href="{{githubUser['url']}}" target="_blank">{{githubUser['url']}}</a></p>
                <img [src]="githubUser['avatar_url']" alt="Foto de perfil de {{githubUser['login']}}" [style.width]="'100%'" [style.margin-bottom.px]="10" [style.max-width.px]="240">
                <p>Repositorios Públicos: {{githubUser['public_repos']}}</p>
                <p>Followers: {{githubUser['followers']}}</p>
                <p>Following: {{githubUser['following']}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <form [style.display]="'flex'" [style.flex-direction]="'column'" [style.gap.px]="20" *ngIf="!session.isSessionActive()">
                <h2>Iniciar Sesión</h2>
                <div class="flexrow" [style.gap.px]="20">
                    <p class="small">Acceso Rápido:</p>
                    <button class="btn btn-outline-secondary" type="button" (click)="quickAccess('admin@helados.com', 'admin1234')">Admin</button>
                    <button class="btn btn-outline-secondary" type="button" (click)="quickAccess('empleado@helados.com', 'empleado')">Empleado</button>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" [(ngModel)]="email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberLogin" [(ngModel)]="rememberLogin">
                  <label class="form-check-label" for="exampleCheck1">Manteneme logueado</label>
                </div>
                <small *ngIf="loginError" class="form-text" [style.color]="'red'">Usuario o contraseña incorrectos.</small>
                <button type="submit" class="btn btn-primary" (click)="LoginAuth()">Login</button>
            </form>
            <div *ngIf="session.isSessionActive()">
                <h2>Sesión Iniciada</h2>
                <p>{{session.getCurrentUser()}}</p>
                <button class="btn btn-primary" (click)="Logout()">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </div>
      
</div>
